@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;

}

.wrapper{
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
h1{
    font-size: 3rem;
}
h1 span{
    color: yellowgreen;
}
.inner-wrapper{
    display: grid;
    /* background-color: #333; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: auto;
    cursor: pointer;
    border: .2rem solid #000;
    border-radius: 1rem;
    transition: transform 2s;
    transform-style: preserve-3d;
    perspective: 100rem;
box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;

    
}
.back-card, .front-card{
    background-color: yellowgreen;
    border-radius: .8rem;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}
.back-card{
    transform: rotateY(180deg) !important;
    background-color: #fcfcfc;
}
.front-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;

    
}
.front-card h1{
    color: #333;
}

.back-card img{
    padding: 2rem;

}
.card-selected{
    transform: rotateY(180deg);
}

.card-matched .front-card{
    background-color: #333;
}
/* .card-matched .front-card{
    background-color: #333;
}
*/
.card-matched .front-card h1{
    display: none;
} 
.flip-inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* .flip-card:hover .flip-inner-box{
    transform: rotateY(180deg);
} */
.clicked{
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-box-front{
    background-color: rgb(250, 215, 20);
    display: grid;
    align-content: center;
}
.flip-box-front span{
    display: inline-block;
    color: #333;
    font-size: 3rem;
    text-align: center;
}
.flip-box-back{
    transform: rotateY(180deg);
}





