@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');
:root{
    --bgColor : #3f564c;
    --blue: #398a90;
    --yellow : rgb(255, 231, 20)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;

}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--yellow);
}

h1 {
    font-size: 3rem;
}

h1 span {
    color: #fff;
    background-color: #333;
    border-radius: .5rem;
    padding: 1rem .5rem;
}
.game-wrapper{
    /* border: .2rem solid var(--blue); */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    background-color: #fff;
}
.game-statistics{
    /* margin: 2rem; */
    /* padding: 2rem 0; */
    width: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: .5rem;


    

}
.game-statistics p{
    
    
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;

}
.game-statistics p span{
    font-weight: 400;

}
.inner-wrapper {
    display: grid;
    /* background-color: #333; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: .5rem;
    /* padding: 2rem; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: auto;
    cursor: pointer;
    border: .2rem solid #000;
    border-radius: .6rem;
    transition: transform 2s;
    transform-style: preserve-3d;
    perspective: 100rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;


}

.back-card,
.front-card {
    border-radius: .6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.back-card {
    transform: rotateY(180deg) !important;
    background-color: #dae0d0;
}

.front-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    background-color: rgb(255, 231, 20);


}

.front-card h1 {
    color: #173133;
}

.back-card img {
    padding: 2rem;

}

.card-selected {
    transform: rotateY(180deg);
}

.card-matched .front-card {
    background-color: #173133;
}

.card-matched .front-card h1 {
    display: none;
}

